@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ktn";
  src: url('../public/fonts/kill-the-noise.otf');
}

.brand {
  font-family: ktn;
}

[class='dark'] {
  color: #e3e3e3;
  background-color: #101010;
}

[class='light'] {
  color: #101010;
  background-color: #e3e3e3;
}

.text-shadow {
  text-shadow: 0px 0px 5px black;
}

